/* Imported Fonts */
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

/* Global reset and baseline */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base layout */
body {
    max-width: 800px; /* classic minimalist blog width */
    margin: 0 auto;   /* centers the whole site */
    padding: 2rem;    /* inner margin */
    font-family: Georgia;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;
}

.site-header {
    text-align: center;
    padding: 2rem 0;
}

.site-header img {
    max-width: 200px;   /* adjust */
    height: auto;
}

.page-title h1 {
    font-family: Crimson Text;
    font-style: italic;
    font-size: 2.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}
