/* Imported Fonts */
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

/* Global reset and baseline */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base layout */
body {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Georgia;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;
}

.site-header {
    text-align: center;
    padding: 1rem 0;
}

.site-header img {
    max-width: 150px;   /* adjust */
    height: auto;
}

.page-title h1 {
    font-family: Crimson Text;
    font-style: italic;
    font-size: 42px;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-style: italic;
    font-size: 13px;
    margin-top: 0;        /* eliminates extra gap */
    margin-bottom: 1rem;  /* space before the rest of the text */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
